
.social {
  border-top: 1px solid $cBorder;
  padding: 0px 30px 30px 30px;
  width: 100%;
  display: block;
  color: $cTextPrimary;
  .social-box {
    width: 100%;
    background: #FBFBFB;
    border: 2px solid #F1F1F1;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    p {
      font-weight: 100;
    }
    @include desktop {
      width: 33%;
      display: inline-block;
    }
  }
  .bubble {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    background: $cSocialMedia;
    padding: 10px;
    border-radius: 100%;
    text-align: center;
    @include desktop {
      bottom: 7px;
    }
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 85%;
    }
  }
  .stats {
    margin-left: 10px;
    display: inline-block;
    h2 {
      color: $cSocialMedia;
      margin: 0;
    }
    p {
      font-size: 3em;
      margin: 0;
    }
  }
}
