:focus {
  outline: none;
}

input {
  cursor: pointer;
}

.notifications {
  width: 50px;
}

// Chart Buttons
.chart-buttons {
  .button {
    background: white;
    color: $cTextPrimary;
    border: none;
    border-radius: 23px;
  }
  .button:hover {
    background: $cButtonAffirmativeHover;
    color: $cChartButtonSelectedText;
  }
  .selected {
    background: $cChartButtonSelected;
    color: $cChartButtonSelectedText;
  }
}


// Message User Butotns

.message-user {
  .send {
    width: 100%;
    display: block;
    background: $cButtonAffirmative;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 3px;
    height: 38px;
  }
  .send:hover {
    background: $cButtonAffirmativeHover;
  }
  .dismiss {
    background: $cButtonAffirmative;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 3px;
    height: 38px;
    width: 150px;
  }
  .dismiss:hover {
    background: $cButtonAffirmativeHover;
  }
}


// Settings Buttons

.settings {


  .save {
    width: 46%;
    color: $cButtonText;
    background: $cButtonAffirmative;
    padding: 10px;
    border: none;
    border-radius: 3px;
  }
  .save:hover {
    background: $cButtonAffirmativeHover;
  }
  .cancle {
    width: 46%;
    color: $cButtonText;
    background: $cButtonNegative;
    padding: 10px;
    border: none;
    border-radius: 3px;
  }
  .cancle:hover {
    background: $cButtonNegativeHover;
  }
}

// TOGLE SWITCH
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #7476C0; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #999999; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 24px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
